<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Grabify Clone</title>
    include head.pug
  </head>
  <body>
    include navbar.pug
    <div class="container text-center">
      h1= alert
    </div>
  </body>
</html>
