<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Grabify Clone</title>
    include head.pug
  </head>
  <body>
    <h1>Welcome To Grabify Clone</h1>
    <input type="text" id="original_url">
    <button type="submit" id="submit_btn">Create IP tracker</button>
  </body>
</html>
