<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Grabify Clone</title>
    include head.pug
  </head>
  <body>
    <h1>Welcome To Grabify Clone</h1>
    <input type="text" id="original_url">
    <button type="submit" id="submit_btn">Create IP tracker</button>
    <div class="modal" id="info_popup">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Logger Successfully Created</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="info-body">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
