.btn:focus,.btn:active,.close:focus,.close:active,.form-control:focus,.form-control:active {
   outline: none !important;
   box-shadow: none !important;
}

input[type="text"]:read-only {
  background: transparent;
}

input[type="text"]:-moz-read-only {
  background: transparent;
}

input:focus {
  background-color: transparent !important;
}

input:required {
  box-shadow:none;
}

input:invalid {
  box-shadow:none;
}

::placeholder {
  color: #343a40 !important;
}

.table {
  vertical-align: baseline !important;
  border-color: #000;
  color: #000;
}

body {
  font-family: 'Oxanium', cursive;
  color: #000;
}

.dark-mode {
  color: #fff !important;
  background-color: #343a40;
}

.dark-input {
  color: #fff !important;
  background-color: transparent !important;
  border-color: #fff !important;
}

.dark-input::placeholder {
  color: #b6afa8 !important;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
}

.round {
  border-radius: 30px;
}

.close {
  opacity: 100%;
  text-shadow: none;
}

.close:hover, .close:active, .close:focus {
  opacity: 1 !important;
}

.setting-btn {
  margin: 15px 20px 20px 0px;
  float: right;
  width: 100%;
}

.form-control {
  color: #000;
  border-color: #000;
}

.form-control:focus {
  color: #000;
  border-color: #000;
}

.inpt-group-span {
  color: #000;
  border-color: #000;
}

#original_url {
  background-color: transparent;
  border-color: #000;
  border-radius: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
}

#change_url_inpt {
  border-radius: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
}

#darkmode_btn {
  padding: 5px;
  cursor: pointer;
  float: right;
  user-select: none;
}

#delete_btn {
  background-color: transparent;
  border-color: #000;
  border-radius: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
}

.modal {
  color: #000 !important;
}

.modal-content {
  padding: 15px;
  border-color: transparent;
  border-radius: 30px;
}

.modal-header, .modal-footer {
  border-color: transparent;
}

#alert-span {
  color: transparent;
}

.inpt-group-input {
  background-color: transparent;
  border-radius: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
}

.inpt-group-btn {
  margin-left: 10px !important;
  border-radius: 30px;
}

.inpt-group-span {
  background-color: transparent;
  border-radius: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
}

@media only screen and (max-width: 990px) {
  .main-header {
    font-size: 8vw;
  }
  #alert_header {
    font-size: 3.5vw;
  }
}

@media only screen and (max-width: 770px) {
  .main-header {
    font-size: 7vw;
  }
  #submit_btn {
    margin-top: 20px;
  }
  .row {
    text-align: center;
    display: block;
  }
  #alert_header {
    font-size: 3.5vw;
  }
}

@media only screen and (max-width: 500px) {
  .main-header {
    font-size: 9vw;
  }
  .modal-title {
    font-size: 1rem;
  }
  .setting-btn {
    margin: 10px 5px 10px 15px !important;
  }
  #alert_header {
    font-size: 4.5vw;
  }
}
